.container {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: #000d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageBig {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  transform-origin: top left;
  display: block;
}
